<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.download.dao.DownloadMapper" >

    <!--根据关键词分页查询数据-->
    <select id="findDataByPage" resultType="com.example.download.domain.Laagent" parameterType="java.lang.String">
        select * from laagent where agentcode like '%'||#{keyWords}||'%'
   </select>

    <!--根据关键词分页查询数据总条数-->
    <select id="findDataCount" resultType="java.lang.Integer" parameterType="java.lang.String">
        select count(1) from laagent where agentcode like '%'||#{keyWords}||'%'
   </select>

</mapper>